<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | CollegeNet</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help on problems with CollegeNet by contacting our <a href="mailto:tvu@linfield.edu">WebMaster</a>
    </p>
  </body>
</html>