<footer class="footer">
  <small>
    The <%= link_to "CollegeNet", root_path %> social network
    by Thien Vu
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>