<footer class="footer">
  <small>
    The <a href="http://tvufinal.herokuapp.com">CollegeNet</a> social network
    by Thien Vu
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>